

body {
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    background-color: rgb(255, 255, 255);
    animation-name: example;
    animation-duration: 2s;
    
    
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  }

  .active {
    background-color: #4CAF50;
  }

  li {
    float: left;
  }

  li a {
    display: block;
  color: white;
  text-align: center;
  padding: 50px 50px;
  text-decoration: none;

@keyframes colorChange {
    from {background-color: blue;}
  to {background-color: blueviolet;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: .5;}
    100% {opacity: 1;}
  }}


#question {
    text-align: center;
    font-size: 30px;
    position: relative;
    margin: -20px;

}

/* #feelings-box {
    background-color: black;
    opacity: 40p;
  width: 800px;
  height: 200px;
  padding: 50px;
  margin: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;

} */

.emotions {
    font-size: 60px;
    text-align: center;
}

#happy:hover {
    font-size: 100px;

}



.item img {
    width: 150px; 
    height:150px;
}

.item {
    display: inline-block;
    margin-right: -10px;
    justify-content: center;
    box-shadow: 0 0 25px 0
		rgba(0, 0, 0, 0.7);
}

.row {
    text-align: center;
}


  
.col1 {
    display: inline-block;
}

.headerBlock {
    background-color: rgb(255, 255, 255);
    width: 100%;
    width: 100vw;
    height: 190px;

}

#LogoText {
    color: black;
    font-family: Myanmar MN;
    text-align: center;
    position: relative;
    font-size: 60px;
    top: -150px;
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 3s;
}

#LogoText2 {
    color: black;
    font-family: HelveticaNeue-UltraLight;
    text-align: center;
    position: relative;
    font-size: 55px;
    top: -180px;
    right: -30px;
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 1s;

    animation-duration: 3s;
    animation-fill-mode: forwards;

}

#Pepper {
    text-align: center;
    position: relative;
    font-size: 55px;
    top: -280px;
    right: -160px;
    animation-name:rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

a:link {
    color: black;
    text-decoration: none;
    font-family: HelveticaNeue-UltraLight;
    font-size: 20px;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1;}
  }

  #about {
      position: relative;
      top: 370px;
      right: -400px;
  }

  #about:hover {
      opacity: .5;
  }

#gallery:hover {
    opacity: .5;
}

#gallery{
    position: relative;
      top: 340px;
      right: -940px;
}

#container {
    
    padding: 10px;
    margin-right: 200px;
    margin-left: 200px;

}
  #HomeText {
      position: relative;
      top: -100px;
      font-family: HelveticaNeue-UltraLight;
      font-size: 30px;
  }

  #bigImage {
      background-color: black;
      width: 1000px;
      height: 300px;
  }

  #spicy img {
    max-width:400px;
    max-height:400px;
    position: relative;
    top:100px;
    left: 100px;
  }

  #display2 img {
    max-width:400px;
    max-height:400px;
      
  }

  #display3 img {
    max-width:400px;
    max-height:400px;
  }

  .rowHome {
      display: inline-block;
  }

  #line {
    background-color: black;
    width: 0px;
    height: 1px;
    position: relative;
    top: -200px;
    animation-name: grow;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

  @keyframes grow {
    from {width: 0px;}
    to {width: 1450px;}
  }

  .displayH img {
      justify-content: center;
  }

  .displayH {
      display: inline-block;
      text-align: center;
      margin-right: 40px;
  }













/* about CSS */



 

  #photoCircle img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      position: relative;
      left: 120px;
      top: 40px;


  }

  #momPhoto {
    position: relative;
    left: 40px;
    top: 150px;
    animation-name: fadeIn;
    animation-duration: 2s;

  }

  #aboutContainer {
    padding: 10px;
    margin-right: 100px;
    margin-left: 400px;
    animation-name: fadeIn;
    animation-duration: 2s;
  }

  #aboutTitle {
    text-align: center;
    position: relative;
    top: -200px;
    font-family: HelveticaNeue;
    font-size: 50px;
  }

  #aboutInfo {
      text-align: center;
      position: relative;
      top: -180px;
      font-family: HelveticaNeue-UltraLight;
      font-size: 30px;
      
  }



 

 





/* gallery CSS */

#PepperGal {
    font-size: 40px;

}

img {
    width: 250px;
    height: 250px;
    position: relative;
    
    
}

.foodItem {
    display: inline-block;
   margin: 0 auto;
   position: relative;
   top: -200px;

}

#foodPhoto1:hover {
    border: 20px solid;
    border-color: green;
}

#foodPhoto1 {
    position: relative;
    top: 40px;
}

#Recipes {
    font-size: 50px;
    font-family: HelveticaNeue;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    position: relative;
    top: 40px;
}

#PageDescription {
    position: relative;
    top: 40px;

}

#descContainer {
    padding: 10px;
    margin-right: 300px;
    margin-left: 300px;
    font-family: HelveticaNeue-UltraLight;
    font-size: 30px;
    animation-name: fadeIn;
    animation-duration: 2s;

}




